.bi
{
    color:black;
}
.mb-15
{
    margin-bottom: 15px;
}
.mb-40
{
    margin-bottom: 40px;
}
.mb-20
{
    margin-bottom: 20px;
}
.pb-20
{
    padding-bottom: 20px;
}
.pb-60
{
    padding-bottom: 60px;
}
.pt-60
{
    padding-top: 60px;
}
h4
{
    font-size: 18px;
}
h1
{
    font-size: 36px;
}
h1,h4
{
    font-family: "Poppins", sans-serif;
    color: #222222;
    line-height: 1.2em !important;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
}
.header
{
    background-color: #08339F;
    position: fixed;
    top:0;
    left: 0;
    z-index: 9;
    width: 100%!important;
    box-shadow: -21.213px 21.213px 30px 0px rgb(158 158 158 / 30%);
}
body
{
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    position: relative;
}
.navbar-nav a
{
    padding: 20px;
    text-transform: uppercase;
    font-weight: 600;
}
a:hover
{
    color: white;
}
footer div a
{
    color:white;
}
a
{
    text-decoration: none;
    color: white;
}
.banner-area
{
    background-color: #f6735d;
}
.banner-content h1 {
    color: white;
    font-size: 48px;
    font-weight: 700;  
    margin-bottom: 20px;
    margin-top: 60px;
}
.section-gap
{
    padding:120px 0;
}
.img-fluid
{
    max-width: 100%;
    height: auto;
}
@media screen and (max-width:992px)
{
    .primary-btn{
        margin-bottom: 20px;
    }
    .banner-content
    {
        text-align: center;
    }
    .navbar-nav a
{
    padding: 0;
}
    .navbar-nav li
{
    padding: 15px 0;
}
  .banner-area .fullscreen
    {
height: 900px !important;
    }
}
@media screen and (max-width:563px)
{


.banner-content h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;  
    margin-bottom: 20px;
}
.about-content div p
{
    text-align: center;
}
 .banner-content
    {
        padding-top:20px;
    }
.banner-content p {
    color: #fff;
    font-size: 12px;
    font-weight: 700;  
    margin-bottom: 20px;
}
.banner-area .fullscreen
{
height: 800px !important;
}
}
.price-area
{
    background: #f9f9ff;
} 
.about-area
{
    background-color: #f9f9ff;
}
.single-price
{
background: #fff;
}
.single-price .top-sec
{

    padding: 40px 40px 22px 40px;
    border-bottom: 1px solid #eeeeee;
}
.single-price .bottom-sec
{
    padding: 40px 40px 22px 40px;
    margin-bottom: 25px;
}
.single-price .bottom-sec:hover
{
    background-color:#f6735d ;
color:white;
transition: all 0.3s ease 0s;
}
.form-area input
{
    border-radius: 0px;
    font-size: 12px;
    padding: 15px;
}
.primary-btn
{
    line-height: 42px;
    padding-left: 30px;
    padding-right: 60px;
    border-radius: 25px;
    border: none;
    color: #222222;
    display: inline-block;
    font-weight: 500;
    position: relative;  
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-transform: uppercase;
    background-color: #fee0e2
}
.primary-btn:hover
{
    transition: all 0.3s ease 0s;
}

.primary-btn span {
    color: #222222;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    right: 30px;
       -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; 
}
.primary-btn:hover {
    color: #222222;
  }
.primary-btn:hover span{
    color: #222222;
    right: 20px;

}
.primary-btn:focus
{
    outline: none;
    
}
.single-price .image-top
{
    padding-top: 40px;
}
.btn 
{
    line-height: 42px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 25px;
    display: inline-block;
    font-weight: 500;
}
.navbar-toggler.collapsed
{
    background-color: #fee0e2;
}
.navbar-toggler
{
    background-color: #fee0e2;

}
.navbar-toggler:focus:not(:focus-visible)
{
    outline: 0;
}
.bottom-sec.price
{
    border-top: 1px solid #eeeeee;
}
